#jinja2: lstrip_blocks: True
apiVersion: v1
kind: Secret
type: {{ item.secret_type }}
metadata:
  name: {{ item.secret_name }}
data:
  {% for key, value in (item.secret_data).items() %}
  {{ key }}: {{ value }} 
  {% endfor %}
